.letter{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Sriracha', cursive;

}
@media screen and (min-width: 360px) {
    .ontop{
        background-color: gray;
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        font-size: 10px;
        height:60px;
    }
    #topic{
        margin: 0;
        margin-top: 4px;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        background-color: rgb(255, 255, 255);
        width: 123px;
        border-radius: 15px;
        padding-left: 10px;
        height: 40px;
        padding-bottom: 0px;
        border-color: black;
        border-style: solid;
        
    }
    #lettertopic{
        position: absolute;
        margin: 0%;
    }
}